
/* 2. Formulario de Edición de Perfil*/
/* Fin del codigo */

/* 3. Perfil de Usuario*/
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Fin del codigo */
