body{ /*condigo css*/
    background-color: #FAFAFA; /* Define el color de fondo de la página como blanco. Conservar*/
	font-family: Arial, Helvetica, sans-serif;/* Aplica la fuente Arial, Helvetica, sans-serif) a todo el texto dentro del body. Conservar*/
    background: linear-gradient(135deg, #9a0526 0%, #1d1d1d 100%);
    min-height: 100vh;
}

.img { /*Logo de Hobbies place codigo  (Clase Diseño de Sistemas 22/11/25)*/
    display: block;
    width: 256px;  /* 0 ancho de pixeles*/
    margin: 0 auto; /* Esto centra horizontalmente */
    border-radius: 50%; /* redondedo 50% igual a circulo */
}

.form-container{ /*Estilo para los formularios*/
    padding: 20px; /* Agrega un relleno interno de 20 píxeles alrededor del contenido del formulario. Conservar*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil alrededor del formulario para darle profundidad. Es como un bordeado Conservar*/
    border-radius: 20px; /* Aplica bordes redondeados al formulario con un radio de 5 píxeles. Conservar*/
    max-width: 400px; /* Limita el ancho máximo del formulario a 400 píxeles. Conservar*/
    background-color: #FFFFFF; /* Establece el color de fondo del formulario. Conservar*/

    /*Codigo (Clase Diseño de Sistemas 22/11/25)*/
    width:50%;  /* 0 ancho de pixeles*/
    margin: 0 auto;
}
