body{ /*condigo css*/
    background-color: #FAFAFA; /* Define el color de fondo de la página como blanco. Conservar*/
	font-family: Arial, Helvetica, sans-serif;/* Aplica la fuente Arial, Helvetica, sans-serif) a todo el texto dentro del body. Conservar*/
    background: linear-gradient(135deg, #9a0526 0%, #1d1d1d 100%);
    min-height: 100vh;
    /*Codigo (28/11/25) aunque se puede borrar*/
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img { /*Logo de Hobbies place codigo  (Clase Diseño de Sistemas 22/11/25)*/
    display: block;
    width: 256px;  /* 0 ancho de pixeles*/
    margin: 0 auto; /* Esto centra horizontalmente */
    border-radius: 50%; /* redondedo 50% igual a circulo */
}
/* Título del formulario 28/11/25 */
.form-container h1 {
  margin: 10px 0 20px;
}

.form-container{ /*Estilo para los formularios - Conservar codigo - */
    padding: 20px; /* Agrega un relleno interno de 20 píxeles alrededor del contenido del formulario. Conservar*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil alrededor del formulario para darle profundidad. Es como un bordeado Conservar*/
    border-radius: 20px; /* Aplica bordes redondeados al formulario con un radio de 5 píxeles. Conservar*/
    max-width: 400px; /* Limita el ancho máximo del formulario a 400 píxeles. Conservar*/
    background-color: #FFFFFF; /* Establece el color de fondo del formulario. Conservar*/
    
    width:100%;
    margin: 0 auto; /* 0 ancho de pixeles*/
    text-align: center; /* Letras del titlo al centro*/
}
/* Codigo CSS NUEVO  28/ 11/ 2025*/
.form-container form div { /* Conservar Codigo*/
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}                         /* Fin del Codigo*/

.form-container label {  /* Conservar Codigo*/
  text-align: center;
  color: #9a0526;
  font-size: 17px;
}                       /* Fin del Codigo*/

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  flex: 1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.form-container button[type="submit"] { /* Botón */
  width: 100%;
  padding: 10px 0;
  background: #9a0526;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/*Contenedor general de los dos paneles*/
.container-login {
  width: 90%;
  max-width: 1000px;
  background-color: #ffffff10; /* ligero transparente para integrar con el fondo */
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

/* Panel izquierdo */
.left-panel {
  flex: 1.2;
  padding: 40px 40px;
  color: #ffffff;
  background: transparent; /* se ve el degradado del body */
}

.left-panel h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.left-panel p {
  line-height: 1.5;
  max-width: 380px;
}

/* Panel derecho */
.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}