body{ /*condigo css*/
    background-color: #FAFAFA; /* Define el color de fondo de la página como blanco. Conservar*/
	font-family: Arial, Helvetica, sans-serif;/* Aplica la fuente Arial, Helvetica, sans-serif) a todo el texto dentro del body. Conservar*/
    background-image: url("resources/images/imagen.jpg"); /*Imagen de fondo*/
    background-attachment: fixed; /* fija la pantalla*/
    background-size: cover; /* expande la imagen */
}

.img { /*Logo de Hobbies place codigo  (Clase Diseño de Sistemas 22/11/25)*/
    display: block;
    width: 256px;  /* 0 ancho de pixeles*/
    margin: 0 auto; /* Esto centra horizontalmente */
    border-radius: 50%; /* redondedo 50% igual a circulo */
}

.form-container{ /*Estilo para los formularios*/
    padding: 20px; /* Agrega un relleno interno de 20 píxeles alrededor del contenido del formulario. Conservar*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil alrededor del formulario para darle profundidad. Es como un bordeado Conservar*/
    border-radius: 20px; /* Aplica bordes redondeados al formulario con un radio de 5 píxeles. Conservar*/
    max-width: 400px; /* Limita el ancho máximo del formulario a 400 píxeles. Conservar*/
    background-color: #FFFFFF; /* Establece el color de fondo del formulario. Conservar*/

    /*Codigo (Clase Diseño de Sistemas 22/11/25)*/
    width:50%;  /* 0 ancho de pixeles*/
    margin: 0 auto;
}

.form input {
    border-style: solid; /* Aplica un borde sólido a los campos de entrada. Conservar*/
    width: 100%; /* Hace que los campos de entrada ocupen el 100% del ancho del contenedor del formulario. Conservar*/
    padding: 1rem; /* Agrega un relleno interno de 10 píxeles en los campos de entrada. Conservar*/
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del campo de entrada. Conservar*/
    margin: 8px 8px 0px 0px; /* Agrega un margen vertical de 10 píxeles entre los campos de entrada. Conservar*/
    height: 1rem; /* Sugerencia de Jesus garcia*/
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: rgb(235, 233, 233);
    background-color: rgb(255, 255, 255);
    transition: 0.25s; /* Fin de la sugerencia de Jesus garcia*/
}

.form input:hover { /* Sugerencia de JG*/
    border-color: rgb(0, 0, 0);
    background-color: beige;
    transition: 0.75s;/* Fin de la sugerencia de JG*/
}
