<!DOCTYPE html> <!-- Dasboar completo - SuperAdministrador.-->
<html lang="es"> <!-- <html> etiqueta raíz de toda la página HTML.-->
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/Logo2.ico"> <!--Link del Favicon de la aplicacion--> 
    <link rel="stylesheet" href="/css/dashboard.css"> <!-- Enlace al archivo CSS externo -->
    <script src="/js/script.js"></script><!-- Enlazar JavaScript con hojas HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"> <!--cdm de los iconos de fontawesome-->
	<title>Agregar proveedores</title> <!-- DASHBOARD DE HOBBIES PLACE-->
</head> 
<body>
<div class="dashboard-wrapper"> <!-- Contenedor principal del Dashboard-->
<!--2.3 SIDEBAR/(Menu lateral)- TAREA: siderbar para el Dasboard menu responsibo y que se oculta.--> 
<aside class="sidebar"> <!-- Parte 001: Contenedor de la barra lateral del siderbar-->
        <!-- Logo dentro del sidebar -->
        <div class="logo"> <!--Contenedor del logo--> 
            <img class="img" src="/img/Logo2.png" alt="Logo de Hobbies Place"/> <!--Logo de Hobbies Place (Logo) -->
            <!-- Boton para maximizar y minizar el sidebar-->
            <div class="menu-btn"> <!--Contenedor del boton-->
                <i class="fa-solid fa-sliders"></i>
            </div>
        </div>
    <!-- Parte 002: Menú dentro del sidebar-->
    <nav class="Menu-siderbar"> <!--Contenedor del Menu-siderbar-->
        <div class="menu-group"><!--1 Grupo-->
        <span class="group-title">Operativa</span>
        <ul class="menu"> <!--1.1 Contenedor del menu-->
            <li class="menu-item menu-item-static"> <!--Lista1 Menu estatico que no se despliega-->
                <a href="#" class="menu-link">           <!--Redireccion--> 
                    <i class="fa-solid fa-house"></i>    <!--Icono de Fon awesome (hause)-->
                    <span>Inicio</span>                  <!--nombre del icono en un spam--> <!--Esto es ivoculcrao para ir a la vista del Home-->
                </a>
            </li>
            <li class="menu-item menu-item-static"><!--Lista2-->
                <a href="#" class="menu-link">
                    <i class="fa-brands fa-cash-app"></i> <!--Icono de Fon awesome (Cash application)-->
                    <span>Ventas</span>
                </a>
            </li>
            <li class="menu-item menu-item-static"> <!--Lista3-->
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-box-open"></i> <!--Icono de Fon awesome (Open box)-->
                    <span>Inventario</span>
                </a>
            </li>
        </div>

        <div class="menu-group"><!--2 Grupo-->
        <span class="group-title">Análisis</span>
            <li class="menu-item menu-item-static"> <!--lista4-->
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-chart-line"></i> <!--Icono de Fon awesome (Reports)-->
                    <span>Reportes</span>
                </a>
            </li> 
        </div>
        
        <div class="menu-group"><!--3 Grupo-->
        <span class="group-title">Administración</span>
            <li class="menu-item menu-item-static"><!--Lista5-->
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-user-gear"></i> <!--Icono de Fon awesome (User gear)-->
                    <span>Usuarios</span> 
                </a>
            </li> 

            <li class="menu-item menu-item-static"><!--Lista6-->
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-truck"></i> <!--Icono de Fon awesome (Truck)-->
                    <span>Proveedores</span>
                </a>
            </li>   

            <li class="menu-item menu-item-static"><!--Lista7-->
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-gear"></i> <!--Icono de Fon awesome (Settings)-->
                    <span>Ajustes</span>
                </a>
            </li>
        </div>
            
        <!--Codigo de separacion- Empuja hacia el area de abajo-->
        <div class="menu-group footer-menu">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Mi Perfil</span>
                    </a>
                </li>
                <li class="menu-item logout">
                    <a href="#" class="menu-link">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
        </ul><!--1.1 Fin del contenedor del menu (SE TE OLVIDO CERRAR EL UL 1/01/2026)-->  <!-- Fin (menu con los inconos)-->            
    </nav>
</aside>
<!--2.3 Fin del SIDEBAR-->

<!--2.2 TOP NAVBAR/(Menu de Arriba)- TAREA: TOP NAVBAR para el Dasboard PERFIL DE USUARIO 12/01/2026-->
    <section class="main-view"> <!-- main-view es la que genera ese fondo gris.-->
        <header class="top-navbar">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i> <!--Icono de Fon awesome (magnifying-glass)-->
                <input type="text" placeholder="Buscar en el sistema...">
            </div>

            <div class="header-actions">
                <div class="notifications-icon">
                    <i class="fa-solid fa-bell"></i> <!--Icono de Fon awesome (bell)-->
                    <span class="dot"></span>
                </div>

                <div class="user-profile">
                    <div class="profile-text">
                        <span class="user-name">Super-Admin</span>
                        <span class="user-status">En línea</span>
                    </div>
                    <div class="profile-avatar">
                        <img src="/img/Logo1.png" alt="Perfil">
                    </div>
                    <i class="fa-solid fa-chevron-down"></i> <!--Icono de Fon awesome (chevron down)-->
                </div>
            </div>
        </header>

        <!--CONTENIDO DEL DASHBOARD/(Area de trabajo)- TAREA: Contenido del Dasboard 12/01/2026-->
        <div class="dashboard-content"> <!-- Contenedor del contenido del dashboard-->
            <!--Tabla de proveedores metida hacia atras asi no oscutaliza la vista de agregar.-->
            <div class="card-table">
            <div class="table-header">
                <div class="header-title">
                    <!--filtrado -->
                        <form class="filter-form">
                            <div class="input-group">
                                <label for="nombre-empresa">Nombre de Empresa</label>
                                <input type="text" id="nombre-empresa" placeholder="Insertar nombre de la empresa">
                            </div>

                            <div class="input-group">
                                <label for="contacto">Contacto</label>
                                <input type="text" id="contacto" placeholder="Insertar Correo o Teléfono">
                            </div>

                            <div class="input-group"> <!-- Categoria -->
                                <label for="categoria-suministro">Categoría</label>
                                <select id="categoria-suministro"><!-- Select con opciones -->
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="cartas">Cartas</option>
                                    <option value="accesorios">Accesorios</option>
                                    <option value="juegos-mesa">Juegos de Mesa</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <label for="estado-proveedor">Estado</label>
                                <select id="estado-proveedor">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="activo">Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                            </div>
                        </form>
                        <!--fin de esta parte del codigo-->
                    </div>
                <!--Agregar proveedor-->
                <a href="#" class="btn-main-action" style="text-decoration: none;">
                    <i class="fas fa-truck"></i> Agregar Proveedor
                </a>
            </div>

            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre de Empresa</th>
                            <th>Categoría de Suministro</th>
                            <th>Correo Electrónico / Teléfono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody> <!-- cuerpo principal de los datos/F1 -->
                        <tr>
                            <td><strong>#001</strong></td>
                            <td><strong>Cartas y Estrategia Distribuciones</strong></td>
                            <td>Cartas</td>
                            <td>
                                <div style="display: flex; flex-direction: column;">
                                    <small style="color: #64748b;"><strong>MarcosPeña@gmail.com</strong></small>
                                    <span style="font-weight: 600;"><strong> +58 412-1112233</strong></span>
                                </div>
                            </td>
                            <td><span class="status active">Activo</span></td>
                            <td> <!-- Botones para editar y eliminar -->
                                <div class="action-buttons">
                                    <button class="btn-icon edit"><i class="fas fa-edit"></i></button>
                                    <button class="btn-icon delete"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody> <!-- Fin del cuerpo principal de los datos -->
                    <tbody>
                        <tr>
                            <td><strong>#002</strong></td>
                            <td><strong>Protectores Elite S.A.</strong></td>
                            <td>Accesorios</td>
                            <td>
                                <div style="display: flex; flex-direction: column;">
                                    <small style="color: #64748b;"><strong>smendez@protectoreselite.com</strong></small>
                                    <span style="font-weight: 600;"><strong>+58 212-3334455</strong></span>
                                </div>
                            </td>
                            <td><span class="status active">Activo</span></td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn-icon edit"><i class="fas fa-edit"></i></button>
                                    <button class="btn-icon delete"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody><!-- Fin del cuerpo principal de los datos -->
                    <tbody>
                        <tr>
                            <td><strong>#003</strong></td>
                            <td><strong>Importadora Meeples & Dados</strong></td>
                            <td>Juegos de Mesa</td>
                            <td>
                                <div style="display: flex; flex-direction: column;">
                                    <small style="color: #64748b;"><strong>rgil.ventas@meeples.ve</strong></small>
                                    <span style="font-weight: 600;"><strong>+58 424-9998877</strong></span>
                                </div>
                            </td>
                            <td><span class="status inactive">Inactivo</span></td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn-icon edit"><i class="fas fa-edit"></i></button>
                                    <button class="btn-icon delete"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody><!-- Fin del cuerpo principal de los datos -->
                    <tbody>
                        <tr>
                            <td><strong>#004</strong></td>
                            <td><strong>Multiverso TCG Wholesale</strong></td>
                            <td>Castas</td>
                            <td>
                                <div style="display: flex; flex-direction: column;">
                                    <small style="color: #64748b;"><strong>erivas@multiversowholesale.com</strong></small>
                                    <span style="font-weight: 600;"><strong>+58 414-5550011</strong></span>
                                </div>
                            </td>
                            <td><span class="status active">Activo</span></td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn-icon edit"><i class="fas fa-edit"></i></button>
                                    <button class="btn-icon delete"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody><!-- Fin del cuerpo principal de los datos -->

                    <tbody>
                        <tr>
                            <td><strong>#005</strong></td>
                            <td><strong>Tableros del Mundo C.A.</strong></td>
                            <td>Juegos de Mesa</td>
                            <td>
                                <div style="display: flex; flex-direction: column;">
                                    <small style="color: #64748b;"><strong>jsoto@tablerosmundo.com</strong></small>
                                    <span style="font-weight: 600;"><strong>+58 241-7776655</strong></span>
                                </div>
                            </td>
                            <td><span class="status active">Activo</span></td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn-icon edit"><i class="fas fa-edit"></i></button>
                                    <button class="btn-icon delete"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Fin del codigo-->
            
            <!-- Fin del codigo-->
            <div id="modalProveedor" class="modal-container"> 
                <div class="modal-content">
                    <div class="modal-header">
                        <h3><i class="fas fa-plus-circle"></i> Registrar Nuevo Proveedor</h3>
                        <button class="close-modal" type="button">&times;</button>
                    </div>

                    <form class="modal-form">
                        <div class="form-grid">
                            <div class="form-section">
                                <h4>Información de contacto</h4> <!-- Titulo-->
                                <div class="input-group">
                                    <label for="prov-nombre">Nombre de la Empresa</label>
                                    <input type="text" id="prov-nombre" placeholder="Ej: Multiverso TCG Wholesale" required>
                                </div>
                                <div class="form-row">
                                    <div class="input-group">
                                        <label for="prov-email">Correo Electrónico</label>
                                        <input type="email" id="prov-email" placeholder="ventas@empresa.com" required>
                                    </div>

                                    <div class="input-group">
                                        <label for="prov-tel">Teléfono</label>
                                        <input type="tel" id="prov-tel" placeholder="+58 412-7519223" required>
                                    </div>

                                    <div class="input-group">
                                        <label for="prov-contacto">Persona de Contacto</label>
                                        <input type="text" id="prov-contacto" placeholder="Ej: Marcos Peña">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <label for="prov-categoria">Categoría</label>
                                    <select id="prov-categoria" required>
                                        <option value="cartas">Cartas</option>
                                        <option value="accesorios">Accesorios</option>
                                        <option value="juegos-mesa">Juegos de Mesa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Caja de texto textarea-->
                        <!-- Titulo-->
                        <div class="form-footer">
                            <div class="form-actions">
                                <button type="button" class="btn-secondary">Cancelar</button>
                                <button type="submit" class="btn-main-action">Guardar Proveedor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- Fin del codigo-->
    </section> 
</body>
</html>