<!DOCTYPE html> <!-- Tabla 03 (Inventario) de productos y categorías-->
<html lang="es"> <!-- <html> etiqueta raíz de toda la página HTML.-->
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/Logo2.ico"> <!--Link del Favicon de la aplicacion--> 
    <link rel="stylesheet" href="/css/dashboard.css"> <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"> <!--cdm de los iconos de fontawesome-->
	<title>Inventario</title> <!-- DASHBOARD DE HOBBIES PLACE-->
</head> 
<body>

<!-- Tabla de inventario - (Productos/Categorías en el sistema) -->
    <div class="card-table">
    <div class="table-header">
        <div class="header-title">
            <h2>Inventario de Productos</h2>
            <p>Listado de productos y categorías disponibles en el sistema</p>
        </div>
        <a href="#" class="btn-main-action" style="text-decoration: none;">
            <i class="fas fa-plus-circle"></i> Agregar Producto
        </a>
    </div>

    <div class="table-responsive">  
        <table><!--tabla completa -->
            <thead> <!-- Encabezado de la tabla -->
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre del Producto</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </tr>
            </thead> <!-- Fin del encabezado de la tabla -->
            <tbody> <!-- cuerpo principal de los datos/F1 -->
                <tr>
                    <td><strong>#PED-1024</strong></td>
                    <td><strong>Flexxfolio 360 18-Pocket – Blue</strong></td>
                    <td><img src="/img/FlexxfolioBlue.png" alt="Flexxfolio Blue" width="50"></td>
                    <td>Album para cartas coleccionables, color azul.</td>
                    <td>2</td>
                    <td><strong>16.290,75 Bs</strong></td>
                </tr>
            </tbody> <!-- Fin del cuerpo principal de los datos -->
            <tbody> <!-- F2 -->
                <tr>
                    <td><strong>#PED-1024</strong></td>
                    <td><strong>Flexxfolio 360 18-Pocket – Red</strong></td>
                    <td><img src="/img/FlexxfolioRed.png" alt="Flexxfolio Red" width="50"></td>
                    <td>Album para cartas coleccionables, color rojo.</td>
                    <td>2</td>
                    <td><strong>16.290,75 Bs</strong></td>
                </tr>
            </tbody>
            <tbody> <!-- F3 -->
                <tr>
                    <td><strong>#PED-1024</strong></td>
                    <td><strong>Sidewinder 100+ Xenoskin – Green</strong></td>
                    <td><img src="/img/SidewinderGreen.png" alt="Sidewinder Green" width="50"></td>
                    <td>Estuche robusto y elegante para mazos de cartas, color verde.</td>
                    <td>1</td>
                    <td><strong>13.963,50 Bs</strong></td>
                </tr>
            </tbody>
            <tbody> <!-- F4 -->
                <tr>
                    <td><strong>#PED-1024</strong></td>
                    <td><strong>Sidewinder 100+ Xenoskin – Red</strong></td>
                    <td><img src="/img/SidewinderRed.png" alt="Sidewinder Red" width="50"></td>
                    <td>Estuche robusto y elegante para mazos de cartas, color rojo.</td>
                    <td>1</td>
                    <td><strong>13.963,50 Bs</strong></td>
                </tr>
            </tbody>
            <tbody> <!-- F6 -->
                <tr>
                    <td><strong>#PED-1024</strong></td>
                    <td><strong>FlipTray 80+ Xenoskin – Blue</strong></td>
                    <td><img src="/img/FlipnTrayBlue.png" alt="FlipTray Blue" width="50"></td>
                    <td> Caja de cartas de alta calidad, de color azul.</td>
                    <td>2</td>
                    <td><strong>18.618,00 Bs</strong></td>
                </tr>
            </tbody>
            <tbody> <!-- F7 -->
                <tr>
                  <td><strong>#PED-1024</strong></td>
                    <td><strong>FlipTray 80+ Xenoskin – Purple</strong></td>
                    <td><img src="/img/FlipnTrayPurple.png" alt="FlipTray Purple" width="50"></td>
                    <td> Caja de cartas de alta calidad, de color púrpura.</td>
                    <td>2</td>
                    <td><strong>18.618,00 Bs</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--Fin del codigo -->

</body>
</html>