<!DOCTYPE html> <!--  Tabla 02 (Usuarios)-->
<html lang="es"> <!-- <html> etiqueta raíz de toda la página HTML.-->
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/Logo2.ico"> <!--Link del Favicon de la aplicacion--> 
    <link rel="stylesheet" href="/css/dashboard.css"> <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"> <!--cdm de los iconos de fontawesome-->
	<title>Usuarios</title> <!-- DASHBOARD DE HOBBIES PLACE-->
</head> 
<body>

<!-- Tabla de Usuarios-->
    <div class="card-table">
    <div class="table-header">
        <div class="header-title">
            <h2>Gestión de Usuario</h2>
            <p>Listado detallado de usuarios registrados en el sistema</p>
        </div>
        <a href="#" class="btn-main-action" style="text-decoration: none;">
            <i class="fas fa-user-plus"></i> Agregar Usuario
        </a>
    </div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>ID Usuario</th>
                    <th>Nombre Completo</th>
                    <th>Correo Electrónico</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Admin Principal</td>
                    <td>
                </tr>
            </tbody>
        </table>
     <div class="table-responsive">
<!--Fin del codigo -->
</body>
</html>